services:
  nginx-proxy:
    container_name: nginx
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  postgres_db:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: docker_user
      POSTGRES_PASSWORD: docker_user
      POSTGRES_DB: file_metadata
    ports:
      - "5432:5432"
    volumes:
      - postgres-volume:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio
    container_name: minio_storage
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      VIRTUAL_HOST: minio.proj.local
      VIRTUAL_PORT: 9000
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server --console-address ":9001" /mnt/data
    volumes:
      - minio-data:/data

  file-storage-service:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      spring.datasource.url: "jdbc:postgresql://postgres_db/file_metadata"
      minio.access-key: minioadmin
      minio.secret-key: minioadmin
      minio.url: "http://minio:9000"
      VIRTUAL_HOST: fileserver.proj.local
      VIRTUAL_PORT: 8080
    depends_on:
      - postgres_db
      - minio
      - nginx-proxy

volumes:
  postgres-volume:
  minio-data:
